* {
    box-sizing: border-box;
}

body, main {
    width: 99vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background: transparent;
    width: 10rem;
    height: 10rem;
    transition: 0.3s ease-in-out;
    border: transparent 8px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:hover {
    border: orangered 8px solid;
}

.farm {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 8rem;
    height: auto;
    margin: 1rem;
}